<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Semantic-UI/semantic.min.css' %} ">
</head>

<body>
    <div class="ui header segment">
        <div class="ui container">
            <h1 class="ui header">O'nline lug'at</h1>
            <div class="ui divider"></div>
            <p>Tezlik, qulaylik, bepul tarjimon </p>
        </div>
    </div>
    <div class="ui container">
        <div class="ui placeholder segment">
            <div class="ui icon header">
                Ingilizcha -O'zbekscha, O'zbekcha-Ingilizch
            </div>
            <div class="inline" style="width:90%;">
                <div class="ui massive form search">
                    <form method="GET" action="/" class="ui icon input" style="width: 100%;">
                        <input name="q"  value="{{q}}" class="prompt" type="text" placeholder="So'z kiriting..." />
                        <i class="search link icon"></i>
                    </form>
                </div>
            </div>
        </div>
        <div class="ui piled segment">
            <h4 class="ui header">Natija</h4>
            <table class="ui celled large olive table">
                <thead>
                    <tr>
                        <th> <i class="gb uk flag"></i> Ingilizcha</th>
                        <th> <i class="uz flag"></i> O'zbekcha</th>
                    </tr>
                </thead>
                <tbody>
                    {% if natija %}
                    {% for tarjima in natija %}
                    <tr>
                        <td>{{ tarjima.inglizcha }}</td>
                        <td>{{ tarjima.ozbekcha }}</td>
                    </tr>
                    {% endfor %}
                    {% endif  %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>